@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600i,700');
html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #777;
    margin: 0;
    padding: 0;
    height: 100%;

}

.container-fluid{
    padding: 0;
}

/*HEADER*/
#header{
    min-height: 50px;
    background-color: grey;
}
/*END HEADER*/


/*MENU*/
.bg-dark {
    border-bottom: 5px solid #00B2BD;
}
.navbar-expand-sm .navbar-nav .nav-link {
    margin-right: 0.5rem;
}
.dropdown-menu{
    min-width: 18rem;
}
.dropdown-item {
    padding: .25rem .75rem;
}
.dropdown-divider{
    display: none;
}
@media (max-width: 576px){
  .dropdown-divider{
        display: block;
    }
}
/*END MENU*/

/*CONTENT*/
#content-wrapper{
    min-height: 300px;
    background-color: grey;
}
/*END CONTENT*/

/*FOOTER*/
#footer-area{
    -webkit-mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
    mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
    background-color: rgba(148,176,179,.3);
}
.footer{
}
.footer h4{
    color: #717171;
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #878787;
    line-height: 35px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.title-line {
    width: 100px;
    height: 2px;
    background: #00B2BD;
    margin: 0px 0px 33px;
    position: relative;
    top: -2px;
}
/*END FOOTER*/
